{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">

<div class="blog-container">
  <h1>My Blog</h1>
  {% for post in posts %}
    <div class="blog-post">
      <h2><a href="{{ post.id }}/">{{ post.title }}</a></h2>
      <p class="blog-meta">Published: {{ post.created_at|date:"M d, Y" }}</p>

      {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endblock %}
